// <!-- 
// @Author : Ujjal Das
// github: ujjaldas132
// -->


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  background: #fff;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 5%;
  min-height: 5%;
  /*border-radius: 3%;*/
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: #666;
  border: 1px solid white;
  font-size: 80px;
  color: #fff;
  border-radius: 10%;
}

#player {
  padding: 1rem;
}

body {
  display: flex;
  background: #eee url('https://source.unsplash.com/1600x900/?nature') no-repeat
    center center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.restart{
  /*padding-top: 40px;*/
  max-height: 10px;
  max-width: 20px;
  text-align: center;
  padding-right:50px; 
}
.boxup{
  /*padding-top: 40px;*/
  max-height: 10px;
  max-width: 20px;
  /*text-align: center;*/
  float: left;
}
.boxdown{
  /*padding-top: 40px;*/
  max-height: 10px;
  max-width: 20px;
  /*text-align: center;*/
  float: right;
  padding-right: 40px;
}