// <!-- 
// @Author : Ujjal Das
// github: ujjaldas132
// -->


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.gameHeader {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 10px;
  
  padding-left: 9%;
  background-color: lightblue;
  float: right;
}

.container {
  padding: 2%;
  display: flex;
  background: #fff;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-width: 360px;
  min-height: 360px;
  /*border-radius: 3%;*/
  margin: auto;
  max-width: 100%;
  max-height: 100%;

}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  background-color: #666;
  border: 1px solid white;
  font-size: 35px;
  color: #fff;
  border-radius: 10%;
}

#player {
  padding: 1rem;
}
#turn {
  font-size: 30px;
  font-weight: bold;
}

body {
  display: flex;
  /*background: #eee url('https://source.unsplash.com/1600x900/?nature') no-repeat*/
    center center/cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.restart{
  /*padding-top: 40px;*/
  font-size: 30px;
  max-height: 10px;
  max-width: 20px;
  text-align: center;
  padding-right:80px; 
  padding-top: 5%;
}

.boxdown{
  /*padding-top: 40px;*/
  max-height: 90px;
  max-width: 270px;
  font-size: 30px;
  /*text-align: center;*/
  float: left;
  /*padding-bottom: 2px;*/
  padding-top: 15px;
  padding-bottom: 2%;
}


.boxup{
  /*padding-top: 40px;*/
  max-height: 90px;
  max-width: 270px;
  font-size: 30px;
  /*text-align: center;*/
  float: right;
  /*padding-bottom: 2px;*/
  padding-top: 15px;
  /*padding-right: 5%;*/
  padding-bottom: 2%;
}